[Desktop Entry]
Name=Niri Settings
GenericName=Basic settings manager for niri
Name[it]=Impostazioni di niri
GenericName[it]=Configurazione di base per niri
Exec=python3 /path/to/niri-settings/niri_settings.py
Type=Application
Categories=Settings;DesktopSettings
Icon=niri-settings
Terminal=false
