[Desktop Entry]
Name=Niri Settings
GenericName=GUI for basic configuring of niri in Qt
Comment=
Exec=python3 niri_settings.py
Type=Application
Categories=Settings;DesktopSettings
Icon=preferences-desktop
Terminal=false
