name: update-qm-files

on:
  push:
    branches:
      - master
permissions:
  contents: write
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Qt tools
        run: sudo apt-get update && sudo apt-get install -y qt6-tools-dev-tools
      - name: Ensure script is executable
        run: chmod +x generate_qm_files.sh
      - name: Run script
        run:  ./generate_qm_files.sh
